<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".PhotoEditorActivity"
            android:exported="false"
            android:label="@string/title_activity_photo_editor"
            android:theme="@style/Theme.PhotoEditor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PhotoCropperActivity"
            android:exported="false"
            android:label="@string/title_activity_photo_crop"
            android:theme="@style/Theme.PhotoEditor" />
    </application>

</manifest>